<h1>Listing rewards</h1>

<table>
  <tr>
    <th>Achievement</th>
    <th>Type</th>
    <th>Amount</th>
  </tr>

<% @rewards.each do |reward| %>
  <tr>
    <td><%=h reward.achievement_id %></td>
    <td><%=h reward.type %></td>
    <td><%=h reward.amount %></td>
    <td><%= link_to 'Show', reward %></td>
    <td><%= link_to 'Edit', edit_reward_path(reward) %></td>
    <td><%= link_to 'Destroy', reward, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New reward', new_reward_path %>