<h3>Awoochi in 4 Simple Steps</h3>
<p>
	<ol>
		<li><a href="#step-1">Think about what achievements can do for you</a></li>
		<li><a href="#step-2">Register your site on Awoochi</a></li>
		<li><a href="#step-3">Create your achievements</a></li>
		<li><a href="#step-4">Paste your generated code on your site!</a></li>
	</ol>
</p>

<h3 id="step-1">Step 1: What can achievements do for me?</h3>
<p>
	Blah blah blah information about how achievements will:
	<ul>
		<li>Increase user retention and interaction rates</li>
		<li>Gamify their site</li>
		<li>Provide an incentive for steps towards a positive culture</li>
		<li>Allow an entrance into monetizing via shopping with points</li>
		<li>etc etc</li>
	</ul>
</p>

<h3 id="step-2">Step 2: Awoochi Registration</h3>
<p>
	Blah blah blah, talk about how visitors enjoy many sites on the interweb,
	not just one. Blah blah, by joining the Awoochi network, you'll be more
	in tune with how your users use the internet and be able to engage them
	in brand new ways.
</p>

<h3 id="step-3">Step 3: Creating Achievements</h3>
<p>
	Blah blah, achievements are our method to success, and we've spared no
	expenses in creating a robust yet customizable platform for site owners
	of any size or shape. Blah blah, talk about some of the cool features
	you can do when creating achievements, such as limited edition, 
	additional rewards, secrecy, social sharing, and so on.
</p>
<p>
	Also, perhaps include a quick diagram of the create achievements form
</p>

<h3 id="step-4">Step 4: Awoochitize Me, Cap'n!</h3>
<p>
	Blah blah, we designed Awoochi to be insanely simple. This means easy 
	to design, create, implement, and even wrap your head around. To best
	facilitate site owners of all shapes and sizes, we provide the following
	ways to implement Awoochi achievements wherever you need them:
</p>
<table class="stretch">
	<tr>
		<td>
			<%= image_tag 'docs/website.png', :class => 'imagebullet' %>
			<h4>For Websites</h4>
			<p>
			  Registered websites have full access to all of our APIs, including our
			  <a href="/docs/php">PHP library</a>,
			  <a href="/docs/ruby">Ruby gem</a>,
			  <a href="/docs/jquery">jQuery plugin</a>, and
			  <a href="/docs/json">JSON interface</a>.
			</p>
		</td>
		<td>
			<%= image_tag 'docs/blog.png', :class => 'imagebullet' %>
			<h4>For Blogs</h4>
			<p>
			  Blogs need achievements too! To help, we offer our 
			  <a href="/docs/wordpress">Wordpress plugin</a> to get you started
			  before you can even say Awoochi!
			</p>
		</td>
	</tr>
  <tr>
		<td>
			<%= image_tag 'docs/website.png', :class => 'imagebullet' %>
			<h4>For Your CMS</h4>
			<p>
			  If you don't want to touch your site's code for whatever reason, don't despair! 
			  We also offer plugins for 
			  <a href="/docs/drupal">Drupal</a> and 
			  <a href="/docs/joomla">Joomla</a>!
			</p>
		</td>
		<td>
			<%= image_tag 'docs/blog.png', :class => 'imagebullet' %>
			<h4>For Forums</h4>
			<p>
			  Post count is an age-old achievement that has been bred into forums. 
			  Isn't about time to spice things up with 
			  <a href="/docs/phpbb3">PHPBB3</a>?
			</p>
		</td>
	</tr>
	<tr>
		<td>
			<%= image_tag 'docs/mobile.png', :class => 'imagebullet' %>
			<h4>For Mobile</h4>
			<p>
			  Building something for phones? We'd love to help! Things like our 
			  <a href="/docs/xml">XML API</a> or
			  <a href="/docs/objective-c">Objective-C library</a>
			  might be just what you need!
			</p>
		</td>
		<td>
			<%= image_tag 'docs/raw.png', :class => 'imagebullet' %>
			<h4>For Applications</h4>
			<p>
			  We have lots for desktop programs too, including our
			  <a href="/docs/c-sharp">C# DLL</a>,
			  <a href="/docs/c-plus-plus">C++ library</a>,
			  <a href="/docs/perl">Perl module</a>, and
			  <a href="/docs/python">Python library</a>.
			</p>
		</td>
	</tr>
</table>
<p>
  If you'd like to use Awoochi and your framework or platform <em>isn't</em> listed here, we'd love to hear 
  from you! We're one email away, and ready to work with you to get you set up! :)
</p>
