<p>
  <b>Site:</b>
  <%=h @achievement.site_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @achievement.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @achievement.description %>
</p>


<%= link_to 'Edit', edit_achievement_path(@achievement) %> |
<%= link_to 'Back', achievements_path %>