<p>
  <b>Account:</b>
  <%=h @site.account_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @site.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @site.url %>
</p>

<p>
  <b>Api token:</b>
  <%=h @site.api_token %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>